body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(233, 233, 233) ;
}

a {
  color: #00B7FF;
}

.wu-container{
	padding-left: 5px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #C7C7C7;
    -moz-box-shadow: 0 8px 6px -6px #C7C7C7;
    box-shadow: 0 8px 6px -6px #C7C7C7;

    /* the rest of your styling */
}

input{
	background-color: #E9E9E9;
}

.thumbnail{
	overflow: hidden ;
	border-radius: 17px ;
	padding: 0 ;
	-webkit-box-shadow: 0 8px 6px -6px #C7C7C7;
    -moz-box-shadow: 0 8px 6px -6px #C7C7C7;
    box-shadow: 0 8px 6px -6px #C7C7C7;
}

body > div > .col-md-3:nth-child(4n+1){
	clear: both;
}

.profile{
	display: inline-block;
}

.waterfall{
	padding-top : 55px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

