body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(233, 233, 233) ;
}

.navbar p{
  display: inline-block;
  margin: 16px 0 0 0;
  padding: 0;
  font-size: 30%;
}

p{
	color: #717171;
}

a {
  color: #00B7FF;
}

.wu-container{
	padding-left: 5px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #C7C7C7;
    -moz-box-shadow: 0 8px 6px -6px #C7C7C7;
    box-shadow: 0 8px 6px -6px #C7C7C7;
    background-color: white;


    /* the rest of your styling */
}

input{
	background-color: #E9E9E9;
}

.thumbnail{
	overflow: hidden ;
	border-radius: 17px ;
	padding: 0 ;
	-webkit-box-shadow: 0 8px 6px -6px #C7C7C7;
    -moz-box-shadow: 0 8px 6px -6px #C7C7C7;
    box-shadow: 0 8px 6px -6px #C7C7C7;
}

body > div > .col-md-3:nth-child(4n+1){
	clear: both;
}

.profile{
	display: inline-block;
}

.waterfall{
	padding-top : 55px;
}

.grid{
	margin-left: auto;
	margin-right: auto;
}

.grid-item { width: 236px; }

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
color: #4B8CD5;
}

.back-to-top i {
  font-size: 60px;
}

.navbar-brand img{
	height: 25px;
}
